/* Write your style here */

h1 {
  font-size: 55px;
  padding-left: 50px;
  color: rgb(51, 50, 50);
}

ul {
  list-style: none;
  display: inline-block;
  padding-bottom: 30px;
  width: 70%;
}

li {
  width: 50%;
  margin: 15px;
  padding: 10px;
  min-width: 350px;
  border: 3px solid rgb(99, 97, 97);
  border-radius: 10px;
  display: flex;
}
img {
  width: 50%;
  height: 80%;
  border: 2px solid rgb(225, 225, 225);
  border-radius: 10px;
}
p {
  font-size: 22px;
  padding: 30px;
}
